$light-green:#94c11f;
$dark-green:#213f26;
$black:#0f0f0f;
$white:#fdfdfd;
$light-gray:#e2e2e2;
$red:#f31e1e;
$light-blue:#2fd1b8;
$dark-grey:#a9a9a9;
$green:#6bb72f;
$grey:#707070;
$first-grey:#707070;

